
API/obj/Debug/net6.0/project.razor.json
API/obj/Debug/net6.0/project.razor.json
API/obj/staticwebassets.pack.sentinel
API/obj
API/bin
API/obj/Debug/net6.0/project.razor.json
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/refint/API.dll
API/obj/Debug/net6.0/refint/API.dll
API/obj/Debug/net6.0/ref/API.dll
API/obj/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/API.dll
API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/API.dll
